*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
/* border-box include padding e border nella width e in height */
body{

    margin: 1% 10%;
    padding: 0;

    /* background-color: cadetblue; */
}

/* header con logo e nav */
header{
    height: fit-content;
    padding-bottom: 10px;
}

#logoimg{
    height: 80%;
    width: 90%;
    object-fit: contain;
    border-right: 1px solid lightgray
}
.logo {
    height:100px;
    width: 300px;
    margin-bottom: 20px;
}

/* barra di navigazione */

nav li{
    list-style-type: none;
    display: inline-block;
    margin:0 5px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    font-size:medium;
    width: fit-content;
    margin: 0 5px;
}

/* div hero immagine con testo */

.heroimage {
    height: 500px;
    width: auto;
    position: relative;
    margin-left: 30px;

}
.banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.8);
}

.hero-text {
    width: 55%;
    height:fit-content;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 2%;
    color: white;
}


/* sezione contenitore blu altezza fissa*/
.container{
    height: fit-content ;
    width: auto;
    margin-left: 30px;
}

/* titolo */
.titolo{
    width: 100%;
    height: fit-content;
    margin-top: 5%;
}
p{
    color: gray;
    font-size: medium;
}

 /* colonne valori comuni a tutte e tre altezza fissa  */
 /* float */
.column {
    float: left;
    height: fit-content;
    margin-right: 26px;
    width: fit-content;
}

/* percentuale larghezza colonne laterali */
.left, .right {
    width: 23%;

}

/*percentuale larghezza colonna centrale (proporzionato a laterali) */
.middle {
    width: 48%;
}

 /* clear  */
.row::after {
    content: "";
    display: table;
    clear: both;
}


.dimensioneimg{
    height: 250px;
    width: auto;
}

/* immagini e testo delle colonne */
.imagecolumn{
    margin-left: 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.8);
}

.testo{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    text-align: left;
    color: gray;
}

/* footer */
footer{
    height: fit-content;
    margin-top: 3%;
    text-align: center;
    font-size: small;
}
.heart{
    color: red;
}