/* border-box include padding e border nella width e in height */
* {
    box-sizing: border-box;
    margin: 10px 50px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: cadetblue; */
}

/* header con logo e nav */
header{
    height: fit-content;
    padding-bottom: 5px;
}

#logo{
    height: 80%;
    width: 90%;
    object-fit: contain;
    border-right: 1px solid lightgray
}
.logo {
    height:100px;
    width: 300px;
    margin-bottom: 20px;
}

/* barra di navigazione */
.navbar{
    width: auto;
    margin-left: 5%;
}

nav li{
    list-style-type: none;
    display: inline-block;
    margin:0 5px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
    font-size:medium;
    width: fit-content;
    margin: 0 5px;
}

/* div hero immagine con testo */

.hero-image {
    height: 500px;
    width: auto;
    position: relative;
    /* background-color: blue; */

}
#banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.7);
}
.hero-text {
    width: auto;
    height:fit-content;
    text-align: left;
    position: absolute;
    top: 80%;
    bottom: 10%;
    left: 27%;
    /* background-color: cornflowerblue; */
    transform: translate(-50%, -50%);
    color: white;
}


/* sezione contenitore blu altezza fissa*/
main .containerblue{
    background-color:rgb(6,132,247);
    height: 500px;
    /* height: fit-content ; */
    margin-top: 15px;
    padding-bottom: 15px;
}

/* riga all'interno della sezione che rimane fissa sopra le colonne */
.riga{
    background-color: rgba(171,207,231,255);
    height: 50px;
    /* height: fit-content; */
}


 /* colonne valori comuni a tutte e tre altezza fissa  */
 /* float */
.column {
    float: left;
    padding: 10px;
    /* height: fit-content; */
    height: 425px;
    background-color: rgba(171,207,231,255);
    margin-top: 15px;
}

  /* percentuale larghezza colonne laterali */
.left, .right {
    width: 20%;

}

  /*percentuale larghezza colonna centrale (proporzionato a laterali) */
.middle {
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
}

 /* clear  */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* footer con altezza fissa */
footer{
    background-color: rgba(136,1,254,255);
    height: 80px;
    /* height: fit-content; */
    margin-top: 15px;
}
